@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&family=Courgette&family=DM+Sans:wght@400;700&family=Inter:wght@400;500&family=Kumbh+Sans:wght@400;700&family=Montserrat:ital,wght@1,700&family=Outfit&family=Roboto:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sana", sans-serif;
  @apply text-primary-100;
}

.screen {
  @apply w-5/6 mx-auto;
}

.formInput {
  @apply p-2  text-sm outline-none  border bg-[#FBFAFB] border-gray-200 rounded-sm;
}

.formLabel {
  @apply pt-2;
}

.btnStyles {
  @apply py-2.5 text-sm rounded-md px-4 cursor-pointer bg-secondary-100  font-medium text-[16px] text-white outline-none;
}

.progressBar {
  @apply bg-primary-500  rounded-md p-0.5  text-center text-xs font-medium leading-none text-primary-100;
}

.progressContainer {
  @apply w-full bg-neutral-200 rounded-md;
}

.headingTwo {
  @apply font-semibold text-center md:text-[30px] text-[18px] md:leading-[40px] leading-[25px];
}

.headingTwoStart{
    @apply font-semibold text-start md:text-[47px] text-[18px] md:leading-[60px] leading-[25px];
}

.homeCTA {
  @apply py-2.5 gap-1 flex items-center justify-center text-sm rounded-md px-4 cursor-pointer bg-secondary-100  font-medium text-[16px] text-white outline-none;
}
